# LLM Providers
GROQ_API_KEY=
GOOGLE_API_KEY=
OPENROUTER_API_KEY=
GEMINI_MODEL=
DEEPSEEK_API_KEY=
MOONSHOT_API_KEY=
SILICONFLOW_API_KEY=
NVIDIA_API_KEY=


# Gmail
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_SENDER_EMAIL=
GMAIL_WATCH_TOPIC_NAME=

# Multi-User Gmail OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=
GOOGLE_REDIRECT_URI=
OAUTH_ENCRYPTION_KEY=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# FastAPI
HOST=0.0.0.0
PORT=8000
DEBUG=True