fastapi
uvicorn

langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-google-genai

openai

pydantic
pydantic-settings

python-dotenv
email-validator

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-genai

jinja2
tiktoken

azure-identity
azure-core
pytest

supabase
python-jose[cryptography]
langchain_nvidia_ai_endpoints
langchain_moonshot
email-reply-parser
cryptography
requests