fastapi
uvicorn

langchain
langchain-core
langchain-community

langchain-openai
openai

pydantic
pydantic-settings

python-dotenv

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

jinja2

tiktoken

azure-identity
azure-core

email-validator